<% @movies.each do |movie| %>
	<div class="row movie-list">
		<div class="large-12 column">
			<div class="large-4 column">
				<%= image_tag movie.gif %>
			</div>
			<div class="large-8 column">
				<h3><%= "#{movie.title} - #{movie.year}" %></h3>
				<p><%= "#{movie.description}" %></p>
				<p><%= link_to "See Trailer", movie_path(movie.id) %></p>
			</div>
		</div>
	</div>
<% end %>
