<div class="row">
	<div class="large-4 columns">
		<%= image_tag @movie.gif %>
	</div>
	<div class="large-8 columns">
		<h1><%= "#{@movie.title} (#{@movie.year.to_s})" %></h1>
		<p><%= @movie.description %></p>
	</div>
</div>

<iframe width="900" height="675" src=<%=@movie.youtube%> frameborder="0" allowfullscreen></iframe>

<br />

