<div class="full-width black-bkgd">
	<div class="row">
		<div class="large-12 column">
			<header>
				<p id="site-title"><%= link_to "URInternet Movie DB", root_path %></p>
			</header>
		</div>
	</div>
</div>