<div class="full-width yellow-bkgd fixed border-bottom">
	<div class="row">
		<div class="large-4 column">
			<header>
				<p id="site-title"><%= link_to "UR Movie Database", root_path %></p>
			</header>
		</div>
		<div class="large-4 column">&nbsp;</div>
		<nav class="large-4 column main-nav">
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", root_path %></li>
			</ul>
		</nav>
	</div>
</div>