.full-width.row {
	width: 100%;
}

.full-width.row.fixed {
	position: fixed;
}

.border-bottom {
	border-bottom: 1px solid #000000;
} 

.black-bkgd {
	background: #000000;
	color: #ffffff;
}

.yellow-bkgd {
	background: yellow;
}

.row.main-body {
	margin-top: 60px;	
}

// =========== SITE HEADER =================

#site-title a {
  float: left;
  margin: 0 8px 10px 0;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

nav.main-nav {
	margin-top: 10px;
	ul {
		list-style:none;
		li {
			float: left;
			padding: 0 10px 0 0;
			a {
				color: #000000;
				font-size: 1.5em;
			}
		}
	}
}

//================ HOMEPAGE =================

.row.movie-list {
	margin: 10px 0 10px 0;
	border-bottom: 1px solid #cccccc;
	clear:both;
}
	


//============== show vide page ==============
.row.show-video-head {
	margin: 0 0 20px 0;
}